@model IEnumerable<PetShopMVC.Models.AnimalViewModel>

<table class="table table-bordered table-striped table-responsive table-condensed">
    <thead>
        <tr>
            <th><strong>portrait</strong></th>
            <th><strong>name</strong></th>
            <th><strong>find out more and comment</strong></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td><img src="@item.PictureName" class="img-responsive thumbnail" /></td>
                <td><p>@item.Name</p></td>
                <td>
                    @Html.ActionLink("get details", "AnimalDetails", "Catalog", new { animalId = item.AnimalId }, new { @class = "btn btn-primary" })
                </td>
                @if ((bool)Session["IsAdmin"] == true)
                {
                    <td>
                        @Html.ActionLink("edit", "AnimalDetails", "Catalog", new { animalId = item.AnimalId }, new { @class = "btn btn-primary" })
                    </td>
                    <td>
                        @Ajax.ActionLink("delete", "DeleteAnimal", "Catalog", new { animalId = item.AnimalId }, new AjaxOptions()
                   {
                       UpdateTargetId = "animalListContainer",
                       InsertionMode = InsertionMode.Replace,
                       HttpMethod = "Post"
                   }, new { @class = "btn btn-danger" })
                    </td>
                }
            </tr>
        }

    </tbody>
</table>