@model IEnumerable<PetShopMVC.Models.AnimalViewModel>

<table id="petShopTable" class="table table-bordered table-striped table-responsive table-condensed">
    <thead>
        <tr>
            <th><strong>portrait</strong></th>
            <th><strong>name</strong></th>
            <th><strong>find out more and comment</strong></th>
            @if (Session["IsAdmin"] != null && (bool)Session["IsAdmin"] == true)
            {
                <th><strong>edit animal details</strong></th>
                <th><strong>delete animal from inventory</strong></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td><img src="@item.PictureName" class="img-responsive thumbnail" /></td>
                <td><p>@item.Name</p></td>
                <td>
                    @Html.ActionLink("get " + item.Name + "'s details", "AnimalDetails", "Catalog", new { animalId = item.AnimalId }, new { @class = "btn btn-primary" })
                </td>


                @if (Session["IsAdmin"] != null && (bool)Session["IsAdmin"] == true)
                {
                    <td>
                        @*<input type="button" class="btn btn-primary animal-details" value="edit @item.Name's details" name="@item.AnimalId" />*@
                        <button id="@item.AnimalId" class="btn btn-primary edit-animal" data-toggle="modal" data-target="#editAnimalModal">edit @item.Name's details</button>
                        @*@Html.ActionLink("edit " + item.Name + "'s details", "AnimalDetails", "Catalog", new { animalId = item.AnimalId }, new { @class = "btn btn-primary" })*@
                    </td>
                    <td>
                        @Ajax.ActionLink("delete " + item.Name, "DeleteAnimal", "Catalog", new { animalId = item.AnimalId }, new AjaxOptions()
                   {
                       UpdateTargetId = "animalListContainer",
                       InsertionMode = InsertionMode.Replace,
                       HttpMethod = "Post"
                   }, new { @class = "btn btn-danger" })
                    </td>
                }
            </tr>
        }

    </tbody>
</table>